# --- Foundry ---
# Dependencias instaladas con forge install
lib/

# Directorio de compilación
out/

# Caché de compilación
cache/

# trazas de las ejecuciones de scripts de despliegue y recibos de transacciones 
broadcast/